.course-completed__paragraph {
  margin: 0;
  padding: 0;
}

.course-completed__paragraph:nth-of-type(1) {
  margin: 24px 0 18px;
}
.course-completed__paragraph:last-of-type {
  margin-bottom: 32px;
}
