.sidebar__acardion-title{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 16px;
}

.sidebar__acardion-title:nth-of-type(1) {
  margin-top: 32px;
}
