.testform__point {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 10px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.testform__point:last-child{
  margin-bottom: 0;
}
