@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);


/*css файлы блока с контентом в странице "Тест превью"*/
@import url(../blocks/test-description/test-description.css);
@import url(../blocks/title/title.css);
@import url(../blocks/title-text/title-text.css);
@import url(../blocks/paragraph/paragraph.css);
@import url(../blocks/test-description/__list-img/test-description__list-img.css);
@import url(../blocks/test-description/__list-name/test-description__list-name.css);
@import url(../blocks/test-description/__list-subtitle/test-description__list-subtitle.css);
@import url(../blocks/test-description/__list-text/test-description__list-text.css);
@import url(../blocks/test-description/__list/test-description__list.css);
@import url(../blocks/test-description/__lists/test-description__lists.css);
@import url(../blocks/button-link/button-link.css);
@import url(../blocks/button-link/_theme/button-link_theme_orange.css);
@import url(../blocks/test-description/__button-position/test-description__button-position.css);











.page {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 32px;
  background-color: #fcfcfc;
  font-family: 'Golos', Arial, Helvetica, sans-serif;
  color: #212329;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}



