.testform__input-pseudo-checkbox {
  background-image: url(../../../images/icon-checkbox-empty.svg);
  height: 20px;
  width: 20px;
  margin: 0 10px 0 2px;
  justify-self: center;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* .testform__input-checkbox:checked + .testform__input-pseudo-checkbox {
  background-image: url(../../../images/icon-checkbox-checked.svg);
} */

.testform__input-checkbox:focus-visible + .testform__input-pseudo-checkbox {
  outline: 2px solid rgb(0, 95, 204);
  outline-offset: 1px;
}

/* .testform__point:hover > .testform__input-pseudo-checkbox {
  opacity: .6;
} */
